#container-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container-calender {
    flex: 1 1 auto;
}

#calendar {
    height: 100%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 3px solid black;
    border-left: none;
}

.calendar-row-dates {
    text-align: center;
    height: 50px;
}

.calendar-day {
    height: 100px;
    border: 1px dotted black;
    padding: 6px;
    text-align: left;
    vertical-align: 0;
}

.calendar-day:hover {
    box-shadow: 0px 0px 0px 3px rgb(50, 54, 245, .3);
}

.container-day-number {
    padding: 4px;
    font-weight: bold;
    font-size: 19px;
}

#selected-day {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 0px 0px 3px rgb(50, 54, 245);
}