.hamburger-container {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(85, 85, 85);
    transition: width .3s linear;
}

.hamburger-button-container{
    position: relative;
    width: 100%;
}

.hamburger-button-fixed, .hamburger-button-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 35px;
    transition: box-shadow 0.3s ease-in-out;
}

.hamburger-button-main {
    float: right;
    margin-right: 9%;
    margin-top: 8px;
}

.hamburger-button-main:hover, .hamburger-button-fixed:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.hamburger-button-fixed {
    position: fixed;
    float: left;
    z-index: 9000;
    margin-left: 3px;
    margin-top: 3px;
}

.container-profilePic {
    width: 100%;
    margin-bottom: 35%;
}

.profile-picture {
    width: 220px;
    height: 220px;
    border-radius: 100px;
}

.hide {
    transition: width .5s;
    width: 0%;
}

.wrapper-username {
    color: white;
    padding: 12px 0px;
    width: 100%;
    font-size: 25px;
}

.menu-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper-menu-element {
    color: white;
    padding: 16px 0px;
    width: 100%;
    font-size: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);   
    transition: box-shadow ease-in-out .5s;
}

.wrapper-menu-element:first-child {
    border-top: 3px solid rgb(0, 0, 0, .3);
}

.menu-list:last-child {
    border-bottom: 3px solid rgb(0, 0, 0, .3);
}

.wrapper-menu-element:hover {
    cursor: pointer;
    background-color: rgb(62, 62, 62);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.menu-element-link {
    text-decoration: none;
    color: white;
}