.container-calendar-year, .container-calendar-month {
    width: 100%;
    text-align: center;
    padding: 16px 0px;
}

.container-calendar-month {
    font-size: 35px;
    padding-bottom: 32px;
}

.container-calendar-year {
    font-size: 35px;
}

.selector-left, .selector-right {
    display: inline-block;
    width: 35px;
    transition: box-shadow 0.3s ease-in-out;
}

.selector-left:hover, .selector-right:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.selector-left {
    float: left;
    margin-left: 20%;
}

.selector-right {
    float: right;
    margin-right: 20%;
}