.container-header {
    flex: 0 1 auto;
    position: relative;
    display: flex;
    min-width: 50%;
    justify-content: center;
    padding: 16px 0px;
    background-color: rgb(230, 230, 230);
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-width: 50%;
    align-items: center;
}

.month-header {
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    border-radius: 360px;
}

.header-grey{
    opacity: .5;
    transition: box-shadow 0.3s ease-in-out;
}

.header-grey:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.container-calendar-year, .container-calendar-month {
    display: flex;
}

.container-calendar-month {
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.container-calendar-year {
    font-size: 30px;
}

.selector-left, .selector-right {
    font-size: 45px;
    width: 50px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 360px;
}

.selector-left:hover, .selector-right:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}